body {
  font-family: 'Gibbs Book', sans-serif;
  color: #666666;
  margin: 2em;
}

.title p {
  font-size: 2.25em;
  font-weight:bold;
}

a {
  color: #5770f7;
  text-decoration: none;
}

a:hover{
  color: #666666;
  text-decoration: none;
}

.title h1 {
  font-size: 2.5em;
  margin-bottom: 0;
  font-weight:bold;
}

.title {
  text-align: center;
}

.bio {
  text-align: center;
}

h1 {
  font-size: 3em;
  color: #5770f7;
  margin-bottom: 1em;
}

h2 {
    font-size: 1em;
    text-transform: uppercase;
    color: #5770f7;
    margin-top: 5em;
    margin-bottom: 3em;
    padding-bottom: 0.5em;
    border-bottom: .125em solid #5770f7;
}

h3 {
  font-size: 1em;
}

h4 {
  font-weight: normal;
  color: #afafaf;
}

p {
  margin-top: 0;
}

#right-info h2 {
  margin-top: 2em;
  margin-bottom: .75em;
}

.first {
  line-height: 40%;
}

.time {
  line-height: 0%;
}

.chunk {
  margin-bottom: 3em;
}


@media only screen and (min-width: 960px) {
  .info {
    display: flex;
  }
  .title {
    text-align: left;
  }
  .bio {
    text-align: left;
  }
  .left-info {
    margin-left: 2em;
  }
  .right-info {
      max-width: 37em;
      margin-left: 3em;
      margin-right: 3em;
      min-width: 0em;
  }
  .header {
    margin-left: 3em;
    margin-top: 5em;
  }
  body {
    align-items: center;
  }

  }
}
