




/* ADD NEW PROJECT BACKGROUND COLOR HERE */

.blue {
  background-color: #F4F5FD;
}

.pink {
  background-color: #FFF6F5;
}

.green {
  background-color: #F5FFF7;
}





/* GENERALIZED */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins,sans-serif;
  font-weight: lighter;
  font-style: normal;
  color: #707070;
  text-transform: lowercase;
}

h1 {
  font-weight: lighter;
  font-size: 2em;
}

h2 {
  font-weight: lighter;
  margin-bottom: 3%;
}

/* mini titles */
h3 {
  font-size: 1em;
  margin: 10% 0 5% 0;
  font-weight: lighter;
  text-align: center;
}

h4 {
  font-weight: lighter;
}

p {
  font-size: 1em;
  padding-bottom: 10%;
}

a {
  color: #5770f7;
  text-decoration: none;
}

a:hover{
  color: #383B3E;
}

h5 {
  text-transform: none;
  font-weight: lighter;
  font-size: 1em;
  padding-bottom: 10%;
}





/* Use this on everything but project pages
Project page needs full bleed background */
.surround {
  padding: 10%;
}

.link {
  -webkit-animation: hue 60s infinite linear;
}





/* INDEX SPECIFIC */

.section {
  padding-bottom: 20%;
}

.image {
  display: none;
}

.link {
  margin-top: 3%;
}

.header {
  padding: 15% 0 25% 0;
}





/* BOTTOM BAR */

.continue {
  padding: 6% 20% 10% 20%;
  text-align: center;
}


.spaced {
  margin-right: 10%;
}





/* PROJECT SPECIFIC */

.white {
  padding: 10%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* This repeat is necessary for fullbleed */
.color {
  padding: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}

.center {
  text-align: center;
}





/* MENUBAR */

.menubig {
  display: none;
}

/* Need separate flex class for this so that other stuff doesn't flex on mobile */
.flexed {
  display: flex;
}

.lj {
  text-align: left;
  width: 2%;
  padding-bottom: 5%;
}

.right {
  text-align: right;
  width: 78%;
  padding-bottom: 5%;
}

.menusmall {
  justify-content: space-between;
  padding: 5% 10% 0 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  position: fixed;
  top: 0;
  width: 80%;
}

.nonmenu {
  padding: 12.5% 0 0 0;
}





/* TRUMP SPECIFIC */

.cycle {
  margin-bottom: -30%;
}





/* HEYWORLD SPECIFIC */

.negmargin {
  margin-bottom: -81%;
}





/* ABOUT SPECIFIC */

.bio h1 {
  padding: 10% 0 10% 0;
}












@media only screen and (min-width: 768px) {





/* GENERALIZED */

  .flexy {
    display: flex;
  }

  .image {
    display: block;
    width: 45%;
    height: 45%;
  }

  .section {
    justify-content: space-between;
  }

  .header {
    padding: 5% 0 15% 0;
  }

  h1 {
    font-size: 3em;
  }





/* INDEX SPECIFIC */

  .wordsbox {
    width: 45%;
  }

  .words {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }

  .reverse {
    flex-direction: row-reverse;
    text-align: right;
  }





/* MENUBAR */

  .menubig {
    display: contents;
  }

  li {
    padding-bottom: 10%;
  }

  .nonmenu {
    padding: 0 0 0 15%;
  }

  .menusmall {
    display: none;
  }

  ul {
      list-style-type: none;
      margin: 0;
      padding: 8% 0 0 2.5%;
      position: fixed;
      font-size: 1em;
  }





  /* PROJECT SPECIFIC */

  .white {
    padding: 5% 25% 5% 25%;
  }


  .color {
    padding: 5% 25% 5% 25%;
  }

  .columns {
    justify-content: space-between;
  }

  .column {
    width: 45%;
  }





/* ABOUT SPECIFIC */
  .about {
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .resume {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

}
